/*
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 60px 20px;
}

@media (min-width: 600px) {
    body {
        padding: 60px;
    }
}
*/
/*.range-slider {
    margin: 60px 0 0 0%;
}*/

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (95px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0085ba;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #0085ba;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #0085ba;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #0085ba;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #0085ba;
}

.range-slider__range:active::-moz-range-thumb {
    background: #0085ba;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #0085ba;
    padding: 5px 10px;
    margin-left: 8px;
}

/*.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #0085ba;
    border-bottom: 7px solid transparent;
    content: '';
}*/

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
}
.customize-control-title hr {
    border:1px solid #d0d0d0 !important;
    margin: 4px 0 10px;
}

.customize-control-title hr.hr2 {
    border:2px solid #8e8e8e !important;
}

#customize-control-cynic_theme-header_main_menu_parent_item_bg_hover_color .customize-control-content button.button.wp-color-result:not([style^="background-"]),
#customize-control-cynic_theme-header_classic_menu_parent_item_bg_hover_color .customize-control-content a.wp-color-result:not([style^="background-"]),
#customize-control-cynic_theme-header_classic_menu_background_color_left .customize-control-content a.wp-color-result:not([style^="background-"]),
#customize-control-cynic_theme-header_classic_menu_background_color_right .customize-control-content a.wp-color-result:not([style^="background-"]),
#customize-control-cynic_theme-header_classic_menu_child_item_hover_bg_color .customize-control-content a.wp-color-result:not([style^="background-"]),
#customize-control-cynic_theme-header_classic_menu_sub_item_bg_color .customize-control-content a.wp-color-result:not([style^="background-"])
{
    background: transparent url(../images/color-transparent.jpg) center left repeat;
    background-size: 100%;
}
