.example {
    background: #fff url("../images/images/bgExample.jpg") no-repeat center top;
    background-size: 100% 100%;
    padding: 3vw 0;
}
@media only screen and (max-width: 991px) {
    .example {
        padding: 6vw 0;
    }
}
/*head*/
.example-head p {
    font-size: 2.5vw;
    font-family: "VL";
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
    .example-head p {
        font-size: 3.5vw;
    }
}
@media only screen and (max-width: 767px) {
    .example-head p {
        font-size: 4.5vw;
    }
}
.example-head .col-xs-offset-1.col-xs-4 img, .example-head .col-xs-7 .col-xs-4 img  {
    height: auto;
    width: 70%;
}
@media only screen and (max-width: 991px) {
    .example-head .col-xs-offset-1.col-xs-4 img, .example-head .col-xs-7 .col-xs-4 img  {
        width: 90%;
    }
}
.owl-theme .owl-dots .owl-dot {
    outline: 0;
}
.example-head .end-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vw;
}
@media only screen and (max-width: 767px) {
    .example-head .end-title {
        margin-bottom: 4vw;
    }
    .firstImg {
        padding-left: 0.5vw;
    }
}
.example-head .end-title:before, .example-head .end-title:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #fff;
    opacity: 0.6;
    margin: auto;
}
.example-head .end-title span {
    margin: 0 10px;
}
/*responsive*/
@media (max-width: 991px) {
    .example-head .col-xs-offset-1 {
        margin-left: 5%;
    }
    .example-head .col-xs-7 {
        -ms-flex-preferred-size: 61.666%;
        flex-basis: 61.666%;
        max-width: 61.666%;
    }
}
/*example*/
.firstImg {
    padding-left: 5vw;
}

.example .col-xs-5 img {
    height:90%;
    width:90%;
}
@media only screen and (max-width: 991px) {
    .example .col-xs-5 img {
        width:100%;
    }
}
.example .rowEnd {
    margin-top:-25px;
}

@media (max-width: 1280px) {
    .example .rowEnd {
        margin-top:20px;
    }
    .example .rowEnd2 {
        margin-top:30px;
    }
}