.faq-container {
    background: #fff;
    background-image: url("../images/images/bgFaq.png");
    padding: 7vw 3vw 5vw;
}
@media only screen and (max-width: 767px) {
    .faq-container {
        padding: 10vw 3vw 5vw;
    }
    .faq-container h1 {
        font-size: 8vw;
        line-height: 1.3;
        margin-bottom: 0;
    }
}
.faq-container h1, .faq-container h2 {
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
}
.faq-container h1 {
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 9.4vw !important;
    font-family: "VL" !important;
    font-weight: normal !important;
    line-height: 1.3;
    margin-bottom: -20px;

}
.faq-container h2 {
    font-family: "VL" !important;
    font-size: 2.15vw;
    font-weight: normal;
    min-height: 9.7vw;
    line-height: 1.3;
}
@media only screen and (max-width: 767px) {
    .faq-container h2 {
        font-size: 5.5vw;
        min-height: 0;
        margin-bottom: 1vw;
        line-height: 1.3;
    }
    .faq-container .lastHr {
        margin-top: 3vw!important;
    }
}
.faq-container hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(90deg, rgba(253,235,233,1) 12%, rgba(253,207,193,1) 25%, rgba(251,97,38,1) 50%, rgba(253,207,193,1) 75%, rgba(253,235,233,1) 88%);
}
.faq-container .lastHr {
    margin-top: -0.5vw;
}

.faq-container img {
    position:relative;
}

.faq-container .quotes1, .faq-container .quotes2 {
    position: absolute;
    width: 7vw;
    height: auto;
}
.faq-container .quotes1 {
    left: -5vw;
    top: -1vw;
}
.faq-container .quotes2 {
    right: -5vw;
    bottom: -1vw;
}
.faq-container .title{
    margin-top: -1vw;
    margin-bottom: 4vw;
}
@media only screen and (max-width: 767px) {
    .faq-container .title{
        margin-bottom: 5vw;
    }
}
.faq-container .title > *{
    position: relative;
}
.faq-container .col-xs-offset-1 {
    margin-left: 2%;
}
.faq-container .col-xs-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 23%;
    max-width: 23%;
}
.faq-container .description1, .faq-container .description2, .faq-container .description3, .faq-container .description4 {
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    padding: 2vw 1.5vw;
    color: #fff !important;
    line-height: 1.2;
    text-align: center;
    font-size:1.2vw !important;
    border-radius: 2vw;
    background: #FF7E45;
    background: -webkit-linear-gradient(top left, #FF7E45, #F37B6F);
    background: -moz-linear-gradient(top left, #FF7E45, #F37B6F);
    background: linear-gradient(to bottom right, #FF7E45, #F37B6F);
    box-shadow: 20.983px 16.992px 62px 0px rgba(0, 0, 0, 0.15);
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}
@media only screen and (max-width: 1280px) {
    .faq-container .description1, .faq-container .description2, .faq-container .description3, .faq-container .description4 {
        font-size: 1.5vw !important;
    }
}
@media only screen and (max-width: 991px) {
    .faq-container .description1, .faq-container .description2, .faq-container .description3, .faq-container .description4 {
        font-size: 2vw !important;
        padding: 2vw 1vw;
    }
}
@media only screen and (max-width: 767px) {
    .faq-container .description1, .faq-container .description2, .faq-container .description3, .faq-container .description4 {
        font-size: 4vw !important;
        padding: 3vw 3vw;
    }
}
.faq-container .centerResponsive {
    margin-left: -2vw;
    margin-right: -2vw;
}
@media only screen and (max-width: 991px) {
    .faq-container .centerResponsive {
        margin-left: -1vw;
        margin-right: -1vw;
    }
}
.faq-container .centerResponsive .col-item {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
}
@media only screen and (max-width: 991px) {
    .faq-container .centerResponsive .col-item {
        padding-left: 1vw;
        padding-right: 1vw;
    }
}
@media only screen and (max-width: 767px) {
    .faq-container .centerResponsive .col-item {
        margin-bottom: 6vw;
    }
}
.faq-container .centerResponsive .col-item > *:nth-child(1) {
    flex: 0 0 auto;
}
.faq-container .centerResponsive .col-item > *:nth-child(2) {
    flex: 1 1 auto;
}
.faq-container .centerResponsive .col-item > * {
    flex: 1 1 auto;
    display: flex;
}
