.featured-container {
    background: url("../images/images/bgFeatured.jpg");
    background-size: 100% 100%;
}
/*general*/
.featured .title p, .featured h1, .featured h2, .featured h3, .featured h4{
    font-family: "VL";
    font-weight: normal;
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.45;
    font-size: 4.2vw;
}
.featured hr {
    border: 0;
    height: 2px;
    margin-top:-7vw;
}
.featured h1 {
    font-size: 10vw !important;
    margin: -5.5vw 0;
}
@media only screen and (max-width: 1280px) {
    .featured h1 {
        font-size: 8vw !important;
        margin: -4.5vw 0;
    }
}

/*feature general*/
.featured .featuredImg {
  width:100%;
}
.featured .col-xs-7 {
    padding:0;
}
.featured h3 {
    font-size: 4vw !important;
    line-height: 1.8 !important;
    margin-top:0;
    margin-bottom: 0;
}

/*description#0*/
.featured .description hr {
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(251,97,38,1) 50%, rgba(255,255,255,1) 100%);
    margin-top: 3vw !important;
}
.featured .description3, .featured .description4 {
    padding-top:8vw;
}
.featured .description{
    padding-top:5vw;
}
/*description#1*/
.featured .description1 img {
    position:absolute;
    width:11vw;
}
@media only screen and (max-width: 1280px) {
    .featured .description1 img {
        width:9vw;
    }
}
.featured .description1 h2, .featured .midDes1, .featured .lastDes1 {
    width:100%;
    text-align:end !important;
}
.featured .midDes1 {
    margin-top: -3vw;
    font-size: 8.5vw !important;
}
@media only screen and (max-width: 1280px) {
    .featured .midDes1,
    .featured .lastDes1 {
        font-size: 8vw !important;
    }
}
/* @media only screen and (max-width: 1280px) {
    .featured h1.midDes1 {
        font-size: 5vw !important;
    }
} */
.featured .lastDes1 {
    font-size: 7.8vw !important;
    margin: 1.2vw 0 -1.5vw 0;
}
@media only screen and (max-width: 767px) {
    .featured .description1 h1 {
        font-size: 8vw !important;
        margin-top: -.5vw;
        margin-bottom: -1vw;
        line-height: 1.3;
    }
    .featured2-container .description2 .start-xs {
        margin-top: 30px;
    }
}
.featured .description1 h2 {
    margin:0;
}
@media only screen and (max-width: 1280px) {
    .featured .description1 h2 {
        font-size: 5vw;
        line-height: 1.5;
    }
}
.featured .description1 p, .featured .description2 p, .featured .description3 p, .featured .description4 p{
    text-align:end;
    color: rgb(0, 120, 188);
    text-transform: uppercase;
    line-height:1.7;
    font-weight: bold;
    margin-bottom:0;
    font-size: 1vw;
    margin-top: 1vw;
    margin-bottom: 0;
}
.featured .description2 hr, .featured .description4 hr{
    background-image: linear-gradient(90deg, rgba(251,97,38,1) 50%, rgba(255,255,255,1) 100%);
}
@media (max-width: 767px) {
    .featured .col-xs-7, .featured .col-xs-5 {
        flex-basis: 100% !important;
        max-width:100% !important;
    }
    .featured h1, .featured h3, .featured p {
        text-align:center !important;
        width:100%;
        font-size: 5vw !important;
        line-height: 1.5;
    }
    .featured hr {
        display: none;
    }
    .featured .description, .featured .description1, .featured .description2, .featured .description3, .featured .description4 {
        padding-top:0;
        margin-bottom: 1vw;
    }
    .featured .description1 h2, .featured .midDes1, .featured .lastDes1 {
        text-align: center !important;
    }
    .featured .description {
        margin-top:-6.5vw;
    }
    .featured .description h1 {
        font-size: 5vw !important;
        margin: -2vw 0 !important;
    }
    .featured .description hr {
        margin-top: 1vw !important;
        margin-left: auto;
        margin-right: auto;
    }
    .featured .description1 {
        margin-top:2vw;
    }
    .midDes1{
        font-size:5vw !important;
    }
    .featured .lastDes1 {
        font-size: 5vw !important;
        margin-top: 2vw;
        margin-bottom: -1vw;
    }
    .featured p{
        padding:0 10vw;
        font-size:2vw !important;
        padding-left: 0;
        padding-right: 0;
    }
    .featured .description1 img{
        display:none;
    }
    .featured .featuredImg {
        width:85% !important;
        height:auto !important;
    }
    .featured .row p,
    .featured .row{
        text-align: center !important;
    }
    .featured .row{
        display: block;
        text-align: center !important;
    }
    .featured .description1 p, .featured .description2 p, 
    .featured .description3 p, .featured .description4 p {
        font-size: 3vw !important;
    }
}

/*description#2*/
.featured2-container .description2 h1 {
    font-size:7vw!important;
}
@media only screen and (max-width: 1280px) {
    .featured2-container .description2 h1 {
        font-size:6vw!important;
    }
}
.featured2-container .description2 h2 {
    font-size: 7vw !important;
    margin-top: 0vw;
    margin-bottom: 6vw;
}
.featured2-container .description2 h3 {
    font-size:2.8vw!important;
    margin-bottom: 0;
}
@media only screen and (max-width: 1280px) {
    .featured2-container .description2 h3 {
        font-size:2.5vw!important;
    }
}
.featured2-container .description2 h4 {
    font-size: 2.1vw !important;
    margin-bottom: -1vw;
    margin-top: 1.8vw;
}
@media only screen and (max-width: 1280px) {
    .featured2-container .description2 h4 {
        font-size: 1.8vw !important;
        margin-top: 4vw;
    }
}
@media only screen and (max-width: 767px) {
    .featured2-container .description2 h3, .benefit p {
        margin-bottom: 5vw;
    }
}
.featured2-container .description2 .start-xs{
    margin-bottom: -5.5vw;
}
.featured2-container .description2 p, .description4 p {
    text-align:start !important;
}
.featured2-container .description2 {
    padding-top: 9vw;
}

@media (max-width: 767px) {
/*description2*/
    .featured2-container .description2 {
        margin-top: -5vw;
        margin-bottom: 12vw;
    }
    .featured2-container .description2 h1 {
        font-size:7vw !important;
    }
    .featured2-container .description2 h2 {
        font-size:7vw !important;
        margin-top: 9vw;
        margin-bottom: 9vw;
    }
    .featured2-container .description2 h4 {
        font-size:4vw !important;
    }
    .featured2-container .description2 h3 {
        font-size:5vw !important;
    }
    .featured2-container .description2 .col-xs-5 {
        margin-top:-10vw;
    }
    .featured2-container .description2 hr {
        margin-top:1vw;
    }
    .featured2-container .description2 p {
        text-align: center !important;
        margin: 5vw 0 4vw;
    }
    .featured2-container .featured2 .col-xs-7 {
        margin-top:-10vw !important;
    }
    .featured .description h1 {
        font-size: 7vw !important;
        margin: -2vw 0 !important;
        line-height: 1.3;
    }
    .featured .description h1 .visible-xs {
        display: block;
    }
}

/*description#3*/
.featured34-container .description3 hr{
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(251,97,38,1) 50%);
    margin-top:1.2vw;
}
.featured34-container .description3 h1 {
    font-size:6vw !important;
}
.featured34-container .description3 h2 {
    font-size: 2.2vw !important;
    margin-top: 0;
    margin-bottom: -0.5vw;
}
.featured34-container .midReport {
    margin-top: 1vw;
    margin-bottom: -1.5vw;
}
@media only screen and (max-width: 767px) {
    .featured34-container .midReport {
        margin-top: 3vw;
        margin-bottom: -1vw;
    }
}

/*description#4*/
.featured34-container .description4 h1 {
    font-size: 7vw !important;
}
.featured34-container .description4 h2 {
    font-size: 6.7vw !important;
    margin-top: 2vw;
    margin-bottom: 0;
}

@media only screen and (max-width: 1280px) {
    .featured34-container .description4 h1,
    .featured34-container .description4 h2 {
        font-size: 6vw !important;
    }
}
.featured34-container .description4 h3{
    font-size: 2.8vw !important;
    margin-top: -1.5vw;
}
.featured34-container .description4 h4{
    font-size: 3vw !important;
    margin-top: 4vw;
    margin-bottom: 0;
}
@media only screen and (max-width: 1280px) {
    .featured34-container .description4 h4{
        margin-top: 4.6vw;
    }
}
@media only screen and (max-width: 1280px) {
    .featured34-container .description4 h3,
    .featured34-container .description4 h4{
        font-size: 2.5vw !important;
    }
}
.featured34-container .description4 .start-xs{
    margin-bottom: 5.5vw;
}
.featured34-container .description4 .col-xs-5 {
    margin-top: -1vw !important;
}
.featured34-container .description4 {
    padding-top:3vw !important;
}
@media (max-width: 767px) {
/*description3*/
    .featured34-container .description3 h1 {
        font-size:8vw !important;
    }
    .featured34-container .description3 h2 {
        font-size:5vw !important;
        width:100%;
        margin-bottom: 1vw;
    }
    .featured34-container .description3 {
        margin-top:5vw;
    }

/*description4*/
    .featured34-container .description4 .col-xs-5 {
        margin-top:-11vw !important;
        margin-left:0 !important;
    }
    .featured34-container .description4 h1 {
        font-size: 8vw !important;
        margin-top: -1.5em !important;
        margin-bottom: -2vw;
    }
    .featured34-container .description4 h2 {
        font-size: 8vw !important;
        margin-top: 0vw;
        margin-bottom: 10vw;
    }
    .featured34-container .description4 h3, .featured34-container .description4 h4  {
        font-size: 5vw !important;
    }
    .featured34-container .description4 h3 {
        margin-top: -1vw;
        margin-bottom: -5vw;
    }
    .featured34-container .description4 hr {
        margin-top: 0 !important;
    }
    .featured34-container .description4 {
        margin-top: -3vw !important;
    }
    .featured34-container .lastImg {
        margin-top: 0;
    }
}
.box-title.textright {
    text-align: right;
    width: 100%;
}

.st-title {
    font-size: 10vw !important;
    font-family: "VL";
    font-weight: normal;
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.25;
    margin: -2vw 0;
}
.st-title.first-top {
    margin: -1vw 0 0 0;
}
.st-title.bottom-top {
    margin: -3vw 0 -2vw 0;
}

.st-title-md {
    font-size: 7vw !important;
    font-family: "VL";
    font-weight: normal;
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.4;
    margin: -2vw 0;
}
.st-title-md.onerow {
    margin: -3.5vw 0;
}

.st-title-mdr {
    font-size: 7vw !important;
    font-family: "VL";
    font-weight: normal;
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    line-height: 1.2;
    margin: -2vw 0;
}

@media (max-width: 767px){
    .box-title.textright {
        text-align: center;
        width: 100%;
    }
    .st-title {
        font-size: 8.5vw !important;
        margin: -2vw 0 !important;
        line-height: 1.5;
        
    }
    .st-title div {
        display: flex;
        justify-content: center;
    }
    .st-title.hidden-xs {
        display: none;
    }
}

.box-ladi {
    display: flex;
    height: 400px;
    border-radius: 20px;
    color: #fff;
    margin-top: 30px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f37b70+0,f37c6d+49,ef8b52+100 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ef8b52+0,f37c6d+51,f37b70+100 */
    background: #ef8b52; /* Old browsers */
    background: -moz-linear-gradient(top,  #ef8b52 0%, #f37c6d 51%, #f37b70 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ef8b52 0%,#f37c6d 51%,#f37b70 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ef8b52 0%,#f37c6d 51%,#f37b70 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef8b52', endColorstr='#f37b70',GradientType=0 ); /* IE6-9 */


}

.ladi-item {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3vw;
    flex-direction: column;
    position: relative;
}
.ladi-item.second-item::before {
    position: absolute;
    top: -20px;
    left: -10px;
    right: -10px;
    bottom: 0px;
    content: "";
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#886c2c+0,ab8834+0,ab8834+1,9c7b2e+8,ab8834+17,ab8834+21,ab8834+26,ab8834+26,ab8834+28,ab8834+40,c29a34+59,c19a33+76,ab8834+87,987932+100 */
    background: #886c2c; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #886c2c 0%, #ab8834 0%, #ab8834 1%, #9c7b2e 8%, #ab8834 17%, #ab8834 21%, #ab8834 26%, #ab8834 26%, #ab8834 28%, #ab8834 40%, #c29a34 59%, #c19a33 76%, #ab8834 87%, #987932 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #886c2c 0%,#ab8834 0%,#ab8834 1%,#9c7b2e 8%,#ab8834 17%,#ab8834 21%,#ab8834 26%,#ab8834 26%,#ab8834 28%,#ab8834 40%,#c29a34 59%,#c19a33 76%,#ab8834 87%,#987932 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #886c2c 0%,#ab8834 0%,#ab8834 1%,#9c7b2e 8%,#ab8834 17%,#ab8834 21%,#ab8834 26%,#ab8834 26%,#ab8834 28%,#ab8834 40%,#c29a34 59%,#c19a33 76%,#ab8834 87%,#987932 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#886c2c', endColorstr='#987932',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    z-index: 2;
    border-radius: 10px;
}
.ladi-item.second-item .ladi-group {
    margin-top: -20px;
}
.ladi-group {
    border: 1px solid #fff;
    padding: 10px 0 30px 0;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    position: relative;
    z-index: 3;
}

@media only screen and (max-width: 767px) { 
    .box-ladi {
        background: transparent!important;
    }
    .ladi-item {
        box-shadow: 0px 9px 27px -7px rgba(0,0,0,0.59);
        -webkit-box-shadow: 0px 9px 27px -7px rgba(0,0,0,0.59);
        -moz-box-shadow: 0px 9px 27px -7px rgba(0,0,0,0.59);
    }
    .ladi-item.fist-item {
        z-index: 1;
        width: 90%!important;
        margin: 0 auto;
    }
    
    .ladi-item.fist-item {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#886c2c+0,ab8834+0,ab8834+1,9c7b2e+8,ab8834+17,ab8834+21,ab8834+26,ab8834+26,ab8834+28,ab8834+40,c29a34+59,c19a33+76,ab8834+87,987932+100 */
        background: #ef8b52;
        background: -moz-linear-gradient(top, #ef8b52 0%, #f37c6d 51%, #f37b70 100%);
        background: -webkit-linear-gradient(top, #ef8b52 0%,#f37c6d 51%,#f37b70 100%);
        background: linear-gradient(to bottom, #ef8b52 0%,#f37c6d 51%,#f37b70 100%);
        z-index: 2;
        border-radius: 10px;
    }
    .ladi-item.second-item {
        margin: -20px auto -20px auto;
        width: 100%!important;
        z-index: 2;
    }
    .ladi-item.second-item {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#886c2c+0,ab8834+0,ab8834+1,9c7b2e+8,ab8834+17,ab8834+21,ab8834+26,ab8834+26,ab8834+28,ab8834+40,c29a34+59,c19a33+76,ab8834+87,987932+100 */
        
        background: #886c2c; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #886c2c 0%, #ab8834 0%, #ab8834 1%, #9c7b2e 8%, #ab8834 17%, #ab8834 21%, #ab8834 26%, #ab8834 26%, #ab8834 28%, #ab8834 40%, #c29a34 59%, #c19a33 76%, #ab8834 87%, #987932 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #886c2c 0%,#ab8834 0%,#ab8834 1%,#9c7b2e 8%,#ab8834 17%,#ab8834 21%,#ab8834 26%,#ab8834 26%,#ab8834 28%,#ab8834 40%,#c29a34 59%,#c19a33 76%,#ab8834 87%,#987932 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #886c2c 0%,#ab8834 0%,#ab8834 1%,#9c7b2e 8%,#ab8834 17%,#ab8834 21%,#ab8834 26%,#ab8834 26%,#ab8834 28%,#ab8834 40%,#c29a34 59%,#c19a33 76%,#ab8834 87%,#987932 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#886c2c', endColorstr='#987932',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        z-index: 2;
        border-radius: 10px;
    }
    .ladi-item.second-item::before {
        display: none;
    }
    .ladi-item.last-item {
        margin: -20px auto 0 auto;
        width: 90%!important;
        z-index: 1;
    }
    .ladi-item.last-item {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#886c2c+0,ab8834+0,ab8834+1,9c7b2e+8,ab8834+17,ab8834+21,ab8834+26,ab8834+26,ab8834+28,ab8834+40,c29a34+59,c19a33+76,ab8834+87,987932+100 */
        background: #ef8b52;
        background: -moz-linear-gradient(top, #ef8b52 0%, #f37c6d 51%, #f37b70 100%);
        background: -webkit-linear-gradient(top, #ef8b52 0%,#f37c6d 51%,#f37b70 100%);
        background: linear-gradient(to bottom, #ef8b52 0%,#f37c6d 51%,#f37b70 100%);
        border-radius: 10px;
    }
    
    
}

h3.ladi-headline {
    font-family: "VL";
    font-weight: normal;
    font-size: 6vw;
    line-height: 1.1;
    margin: 1% 0;
}
.ladi-group-day {
    display: inline-block;
    padding: 0px 10px;
    background: #fff;
    border-radius: 20px;
    margin: 5px 0;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
h6.ladi-headline {
    font-size: 2.2vw !important;
    font-weight: normal;
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3;
    margin: 0;
    font-weight: bold;
    display: inline-block;
}

.ladi-headline-sale {
    font-family: "VL";
    font-weight: normal;
    font-size: 2.5vw;
    line-height: 1.2;
    position: relative;
    display: inline-block;
    margin: -1vw 0;
}
.ladi-headline-sale::before {
    position: absolute;
    top: 23px;
    left: -7px;
    width: auto;
    content: "";
    height: 2px;
    background: #ff4c3c;
    transform: rotate(-10deg);
    right: -7px;
}
.ladi-list-paragraph ul {
    list-style: none;
    position: relative;
    z-index: 3;
    margin: 0;
    padding: 0;
}
.ladi-list-paragraph ul li{
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
}

@media (max-width: 768px){
    .box-ladi {
        display: block;
        height: auto;
        margin: 10px;
    }
    .ladi-item {
        width: 100%;
        padding: 35px 0!important;
        overflow: hidden;

    }
    
    .ladi-item.active::before {
        top: 0;
        left: 0;
        right: 0;
    }
    .ladi-item.active .ladi-group {
        margin-top: 0px;

    }
    .box-ladi .second-item .ladi-group::before {
        position: absolute;
        right: -78px;
        top: 50%;
        width: 200px;
        height: 100px;
        background: url(../images/images/ic-dragon.png) top right no-repeat;
        margin-top: -25px;
        content: "";
        background-size: contain;
    }
    .box-ladi .second-item .ladi-group::after {
        position: absolute;
        left: -78px;
        top: 50%;
        width: 200px;
        height: 100px;
        background: url(../images/images/ic-dragon.png) top left no-repeat;
        margin-top: -25px;
        content: "";
        background-size: contain;
    }
    .box-ladi .fist-item .ladi-group::before {
        position: absolute;
        right: -78px;
        top: 50%;
        width: 200px;
        height: 100px;
        background: url(../images/images/ic-dragon1.png) top right no-repeat;
        margin-top: -25px;
        content: "";
        background-size: contain;
    }
    .box-ladi .fist-item .ladi-group::after {
        position: absolute;
        left: -78px;
        top: 50%;
        width: 200px;
        height: 100px;
        background: url(../images/images/ic-dragon1.png) top left no-repeat;
        margin-top: -25px;
        content: "";
        background-size: contain;
    }
    .box-ladi .last-item .ladi-group::before {
        position: absolute;
        right: -78px;
        top: 50%;
        width: 200px;
        height: 100px;
        background: url(../images/images/ic-dragon3.png) top right no-repeat;
        margin-top: -25px;
        content: "";
        background-size: contain;
    }
    .box-ladi .last-item .ladi-group::after {
        position: absolute;
        left: -78px;
        top: 50%;
        width: 200px;
        height: 100px;
        background: url(../images/images/ic-dragon3.png) top left no-repeat;
        margin-top: -25px;
        content: "";
        background-size: contain;
    }
    
    .ladi-item .ladi-group {
        width: 90%;
        padding: 20px 0;
        position: relative;
        border: 1px solid rgba(255,255,255,0.7);
    }
    .ladi-item h3.ladi-headline {
        font-size: 12vw;
        line-height: 1.1;
        margin: 1% 0;
    }
    .ladi-item h6.ladi-headline {
        font-size: 5.5vw !important;
        text-transform: uppercase;
    }
    .ladi-item .ladi-group-day{
        margin-bottom: 20px;
    }
    .ladi-item .ladi-headline-sale {
        font-size: 5.5vw;
        line-height: 1.2;
    }
    .ladi-item .ladi-headline-sale::before {
        top: 12px;
    }
}
