.feedback {
    padding: 6vw 3vw 5vw;
}
.feedback .box-header-feedback {
    position: relative;
}
.feedback .box-header-feedback > * {
    position: relative;
    z-index: 2;
}
.feedback .firstTitle span, .feedback .midTitle, .feedback .center-xs p, .feedback .description h1 {
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.4;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.feedback img {
    position:relative;
}

/*title*/
.feedback .midTitle {
    margin: -0.5vw 0 -2vw;
    font-size: 9.8vw !important;
    font-family: "VL" !important;
    font-weight: normal  !important;
    line-height: 1.25 !important;
}
@media only screen and (max-width: 767px) {
    .feedback .midTitle {
        font-size: 8vw !important;
        line-height: 1.3!important;
    }
    .feedback .firstTitle span, .feedback .lastTitle span{
        font-size: 5vw!important;
    }
}
.feedback .firstTitle, .feedback .lastTitle {
    display: flex;
    flex-direction: row;
}
.feedback .firstTitle:before, .feedback .firstTitle:after, .feedback .lastTitle:before, .feedback .lastTitle:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #f3622e;
    opacity: 0.5;
    margin: auto;
}
.feedback .lastTitle {
    margin:0;
}
.feedback .firstTitle span, .feedback .lastTitle span{
    margin: 0 10px;
    font-size: 3vw;
    font-family: "Montserrat";
}
.feedback hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(242,135,56,1) 50%, rgba(255,255,255,1) 95%);
}
.feedback .quotes1, .feedback .quotes2 {
    position: absolute;
    width: 9vw;
    height: auto;
    z-index: 1;
}
@media only screen and (max-width: 767px) {
    .feedback .quotes1, .feedback .quotes2 {
        width: 6vw;
    }
}
.feedback .quotes1 {
    top: -1vw;
    left: -5vw;
}
.feedback .quotes2 {
    bottom: -1vw;
    right: -5vw;
}

.feedback .content {
    margin-left: -2vw;
    margin-right: -2vw;
}
@media only screen and (max-width: 991px) {
    .feedback .content {
        margin-left: -1vw;
        margin-right: -1vw;
    }
}
.feedback .content .col-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
}
@media only screen and (max-width: 991px) {
    .feedback .content .col-item {
        padding-left: 1vw;
        padding-right: 1vw;
    }
}
@media only screen and (max-width: 767px) {
    .feedback .content .col-item {
        margin-bottom: 6vw;
    }
}
.feedback .content img {
    flex: 0 0 auto;
    width: 14vw;
    height: 14vw;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 767px) {
    .feedback .content img {
        width: 28vw;
        height: 28vw;
    }
}
.feedback .star {
    width:50% !important;
    height:auto !important;
    margin: 0.5vw auto;
}
@media only screen and (max-width: 767px) {
    .feedback .content img {
        width:31% !important;
    }
}
.feedback .person {
    top: 5vw;
}
.feedback .col-xs-3 p{
    line-height:1.8 !important;
}
.feedback .content {
    font-family: "Myriad Pro" !important;
    margin-top:-1vw;
}

/*description*/
.feedback .col-xs-3 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30% !important;
    max-width: 30% !important;
}
.feedback .col-xs-offset-1 {
    margin-left: 5%;
}
.feedback .description {
    flex: 1 1 auto;
    padding:6vw 1.5vw 1.5vw;
    line-height: 1.2;
    border-radius: 45px;
    background-color: rgb(255, 255, 255);
    box-shadow: 20.983px 16.992px 62px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 991px) {
    .feedback .description {
        border-radius: 2vw;
    }
}
@media only screen and (max-width: 767px) {
    .feedback .description {
        max-width: 70%;
        padding-bottom: 3vw;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 480px) {
    .feedback .description {
        max-width: 100%;
    }
}
.feedback .description h1, .feedback .description h2, .feedback .description h3 {
    margin:0;
}
.feedback .description h1 {
    font-family: "VL";
    font-size:2.8vw !important;
    font-weight: normal;
}
@media only screen and (max-width: 991px) {
    .feedback .description h1 {
        font-size:3.5vw !important;
    }
}
@media only screen and (max-width: 767px) {
    .feedback .description h1 {
        font-size:5vw !important;
    }
}
.feedback .description h2 {
    font-family: "Montserrat";
    color: rgb(0, 120, 188) !important;
    font-size:1.4vw;
    font-weight: normal;
    font-style: italic;
    line-height: 1.5;
}
@media only screen and (max-width: 991px) {
    .feedback .description h2 {
        font-size:1.7vw;
    }
}
@media only screen and (max-width: 767px) {
    .feedback .description h2 {
        font-size:3vw;
    }
}
.feedback .description h3 {
    font-family: "Montserrat";
    font-size:1.3vw !important;
    font-weight: normal;
}
@media only screen and (max-width: 1280px) {
    .feedback .description h3 {
        font-size:1.5vw !important;
    }
}
@media only screen and (max-width: 991px) {
    .feedback .description h3 {
        font-size:1.7vw !important;
    }
}
@media only screen and (max-width: 767px) {
    .feedback .description h3 {
        font-size:4vw !important;
    }
}
