.footer-container {
    overflow: hidden;
    background: #fff url("../images/images/bgFooter.png") no-repeat center top;
    background-size: cover;
    padding: 3vw 4vw;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.4;
    font-size: 1.2vw;
}
@media only screen and (max-width: 1280px) {
    .footer-container {
        font-size: 1.5vw;
    }
}
@media only screen and (max-width: 767px) {
    .footer-container {
        font-size: 2.5vw;
    }
}
.footer-container img {
    width: 25vw;
}
.footer-container .logo {
}
.footer-container p {
    font-weight:bold;
    margin-top: 0;
    margin-bottom: 0;
}
.footer-container span {
    font-weight:normal;
}