
.introduce-cambridge-toefl {
    position: relative;
}
.introduce-cambridge-toefl > * {
    position: relative;
}
.introduce-cambridge-toefl:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 42%;
    width: 100%;
    height: 42%;
    background: #feebe8;
}
@media only screen and (max-width: 1280px) {
    .introduce-cambridge-toefl:before {
        top: 40%;
        height: 44%;
    }
}
@media only screen and (max-width: 991px) {
    .introduce-cambridge-toefl:before {
        top: 37%;
        height: 45%;
    }
}
@media only screen and (max-width: 767px) {
    .introduce-cambridge-toefl:before {
        top: 0;
        height: 100%;
    }
}
.introduce-cambridge {
    position: relative;
    padding: 5vw 3vw 3vw 3vw;
}
@media only screen and (max-width: 767px) {
    .introduce-cambridge {
        padding: 8vw 3vw 0;
    }
}
.introduce-cambridge > * {
    position: relative;
}
.introduce-cambridge .introduceAbout span, .introduce-cambridge .cambridgeTest, .introduce-cambridge h2 {
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.4;
}
.introduce-cambridge .box-title-intro h2 {
    font-family: "VL";
    font-size: 2.8vw;
    line-height: 1.45;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: -0.5vw;
}
@media only screen and (max-width: 767px) {
    .introduce-cambridge .box-title-intro h2 {
        font-size: 27px;
        line-height: 150%;
    }
}
@media only screen and (max-width: 480px) {
    .introduce-cambridge .box-title-intro h2 {
        font-size: 27px;
        line-height: 150%;
    }
}
.introduce-cambridge .introduceAbout span {
    font-weight: bold;
    font-size: 2vw;
    font-family: "Montserrat";
}
@media only screen and (max-width: 767px) {
    .introduce-cambridge .introduceAbout span {
        font-size: 5vw;
    }
}
.introduce-cambridge .title {
    margin-bottom: 4vw;
}
@media only screen and (max-width: 767px) {
    .introduce-cambridge .title {
        margin-bottom: 6vw;
    }
    .introduce-cambridge .cambridgeTest{
        line-height: 1.1;
        font-size: 42px!important;
    }
}
.introduce-cambridge .title > * {
    position: relative;
}

.introduce-cambridge .cambridgeTest {
    position: relative;
    z-index: 2;
    font-size: 9vw;
    font-family: "VL";
    line-height: 1;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}
.introduce-cambridge .introduceAbout {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 0;
}
.introduce-cambridge .introduceAbout:before, .introduce-cambridge .introduceAbout:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #f58f85;
    opacity: 0.5;
    margin: auto;
}
.introduce-cambridge .introduceAbout span{
    display: inline-block;
    vertical-align: middle;
    margin: 0 1vw;
}

.introduce-cambridge hr {
    margin-top: -10px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(242,135,56,1) 50%, rgba(255,255,255,1) 95%);
}
.introduce-cambridge .quote-sp {
    display: none;
}
@media only screen and (max-width: 767px) {
    .introduce-cambridge .quote-sp {
        display: block;
    }
}
.introduce-cambridge .quote-pc {
    display: block;
}
@media only screen and (max-width: 767px) {
    .introduce-cambridge .quote-pc {
        display: none;
    }
}
.introduce-cambridge .quotes1,
.introduce-cambridge .quotes2 {
    position: absolute;
    width: 7vw;
    z-index: 1;
}
.introduce-cambridge .quotes1 {
    top: 1vw;
    left: -5vw;
}
.introduce-cambridge .quotes2 {
    right: -5vw;
    bottom: -1vw;
}

.introduce-cambridge .col-xs-3 p {
    line-height:1.5 !important;
}
.introduce-cambridge .col-xs-3 h2 {
    font-family: "VL";
    font-size: 2.6vw;
    line-height: 1.4;
    font-weight: normal;
    width: 100%;
}
.introduce-cambridge .box-title-intro {
    flex: 0 0 auto;
    flex-direction: column;
    margin-bottom: 1vw;
}
.introduce-cambridge .box-description {
    flex: 1 1 auto;
    display: flex;
}
@media only screen and (max-width: 767px) {
    .introduce-cambridge .box-description {
        margin-bottom: 3vw;
    }
}
.introduce-cambridge .introduceContent {
    margin-left: -1.5vw;
    margin-right: -1.5vw;
}
.introduce-cambridge .introduceContent > * {
    display: flex;
    flex-direction: column;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}
@media only screen and (max-width: 767px) {
    .introduce-cambridge .introduceContent > * {
        margin-bottom: 1vw;
    }
}
.introduce-cambridge .beforeContent {
    margin: -0.5vw 0 0;
}
.introduce-cambridge .description1, .introduce-cambridge .description2, .introduce-cambridge .description3 {
    display: flex;
    align-items: center;
    height: auto;
    padding:2vw 2vw;
    font-family: "Montserrat";
    color: #0077bb !important;
    line-height: 1.2;
    text-align: center;
    font-size:1.3vw !important;
    border-radius: 3vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 20.983px 16.992px 62px 0px rgba(0, 0, 0, 0.15);
    margin-top: 0;
    margin-bottom: 0;
}
@media only screen and (max-width: 1280px) {
    .introduce-cambridge .description1, .introduce-cambridge .description2, .introduce-cambridge .description3 {
        font-size: 1.6vw !important;
    }
}
@media only screen and (max-width: 991px) {
    .introduce-cambridge .description1, .introduce-cambridge .description2, .introduce-cambridge .description3 {
        font-size: 2vw !important;
    }
}
@media only screen and (max-width: 767px) {
    .introduce-cambridge .description1, .introduce-cambridge .description2, .introduce-cambridge .description3 {
        font-size: 3vw !important;
        margin-top: 0;
    }
}
@media only screen and (max-width: 480px) {
    .introduce-cambridge .description1, .introduce-cambridge .description2, .introduce-cambridge .description3 {
        font-size: 4.2vw !important;
        padding: 3vw;
    }
}

.introduce-cambridge .col-xs-3 {
    display: flex;
    flex-direction: column;
    -ms-flex-preferred-size: 25%;
    flex-basis: 32% !important;
    max-width: 32.67% !important;
}
.introduce-cambridge .col-xs-offset-1 {
    margin-left: 2%;
}
