
.introduce-toefl {
    padding: 1vw 3vw 7vw;
}
@media only screen and (max-width: 767px) {
    .introduce-toefl {
        padding: 5vw 3vw 1vw;
    }
}
.introduce-toefl .introduceAbout span, .introduce-toefl .cambridgeTest, .introduce-toefl h2 {
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.4;
}
.introduce-toefl .box-title-intro h2 {
    font-family: "VL";
    font-size: 2.8vw;
    line-height: 1.5;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: -0.5vw;
}
@media only screen and (max-width: 767px) {
    .introduce-toefl .box-title-intro h2 {
        font-size: 4vw;
    }
}
@media only screen and (max-width: 480px) {
    .introduce-toefl .box-title-intro h2 {
        font-size: 5vw;
    }
}
.introduce-toefl .introduceAbout span {
    font-weight: bold;
    font-size: 2vw;
    font-family: "Montserrat";
}
@media only screen and (max-width: 767px) {
    .introduce-toefl .introduceAbout span {
        font-size: 4vw;
    }
}
.introduce-toefl .title {
    margin-bottom: -1vw;
}
@media only screen and (max-width: 767px) {
    .introduce-toefl .title {
        margin-bottom: 2vw;
    }
}
.introduce-toefl .title > * {
    position: relative;
}

.introduce-toefl .cambridgeTest {
    position: relative;
    z-index: 2;
    font-size: 9vw;
    font-family: "VL";
    line-height: 1.5;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}
.introduce-toefl .introduceAbout {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 0;
}
.introduce-toefl .introduceAbout:before, .introduce-toefl .introduceAbout:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #f58f85;
    opacity: 0.5;
    margin: auto;
}
.introduce-toefl .introduceAbout span{
    display: inline-block;
    vertical-align: middle;
    margin: 0 1vw;
}

.introduce-toefl hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(242,135,56,1) 50%, rgba(255,255,255,1) 95%);
}

.introduce-toefl .quotes1,
.introduce-toefl .quotes2 {
    position: absolute;
    width: 7vw;
    z-index: 1;
}
.introduce-toefl .quotes1 {
    top: 1vw;
    left: -5vw;
}
.introduce-toefl .quotes2 {
    right: -5vw;
    bottom: 2vw;
}

.introduce-toefl .col-xs-3 p {
    line-height:1.5 !important;
}
.introduce-toefl .col-xs-3 h2 {
    font-family: "VL";
    font-size: 2.6vw;
    line-height: 1.4;
    font-weight: normal;
    width: 100%;
}
.introduce-toefl .box-title-intro {
    flex: 0 0 auto;
    flex-direction: column;
    margin-bottom: 1vw;
}
.introduce-toefl .box-description {
    flex: 1 1 auto;
    display: flex;
}
@media only screen and (max-width: 767px) {
    .introduce-toefl .box-description {
        margin-bottom: 3vw;
    }
}
.introduce-toefl .introduceContent {
    margin-left: -1.5vw;
    margin-right: -1.5vw;
}
.introduce-toefl .introduceContent > * {
    display: flex;
    flex-direction: column;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}
@media only screen and (max-width: 767px) {
    .introduce-toefl .introduceContent > * {
        margin-bottom: 4vw;
    }
}
.introduce-toefl .beforeContent {
    margin: -0.5vw 0 0;
}
.introduce-toefl .description1, .introduce-toefl .description2, .introduce-toefl .description3 {
    display: flex;
    align-items: center;
    height: auto;
    padding:2vw 2vw;
    font-family: "Montserrat";
    color: #0077bb !important;
    line-height: 1.2;
    text-align: center;
    font-size:1.3vw !important;
    border-radius: 3vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 20.983px 16.992px 62px 0px rgba(0, 0, 0, 0.15);
    margin-top: 0;
    margin-bottom: 0;
}
@media only screen and (max-width: 1280px) {
    .introduce-toefl .description1, .introduce-toefl .description2, .introduce-toefl .description3 {
        font-size: 1.6vw !important;
    }
}
@media only screen and (max-width: 991px) {
    .introduce-toefl .description1, .introduce-toefl .description2, .introduce-toefl .description3 {
        font-size: 2vw !important;
    }
}
@media only screen and (max-width: 767px) {
    .introduce-toefl .description1, .introduce-toefl .description2, .introduce-toefl .description3 {
        font-size: 4.5vw !important;
        margin-top: 0;
    }
}
@media only screen and (max-width: 480px) {
    .introduce-toefl .description1, .introduce-toefl .description2, .introduce-toefl .description3 {
        font-size: 4.2vw !important;
        padding: 3vw;
    }
}

.introduce-toefl .col-xs-3 {
    display: flex;
    flex-direction: column;
    -ms-flex-preferred-size: 25%;
    flex-basis: 32% !important;
    max-width: 32.67% !important;
}
.introduce-toefl .col-xs-offset-1 {
    margin-left: 2%;
}
