.price-signup-container {
    position: relative;
    padding: 4vw 3vw 6vw;
}
.price-signup-container:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background: #feebe3;
}
@media only screen and (max-width: 767px) {
    .price-signup-container:before {
        height: 36%;
    }
}
.price-signup-container > * {
    position: relative;
}
.price-signup-container h1, .price-signup-container h2 {
    font-weight: normal;
    line-height:1.5;
    font-family: "VL";
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.price-signup-container h1 {
    font-size: 8vw;
    line-height: 1.4;
    margin: 1% 0 0;
}
@media only screen and (max-width: 767px) {
    .price-signup-container h1 {
        font-size: 8vw;
    }
    .price-signup-container h2 {
        font-size: 5vw!important;
    }
}
.price-signup-container h2 {
    font-size: 3vw;
    margin-top: -2%;
    margin-bottom: 1vw;
}
.price-signup-container img {
    width:95%;
}

.sign-up {
    padding:0 6%;
}
.signUp {
    border-radius: 0 0 2vw 2vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 20.983px 16.992px 62px 0px rgba(0, 0, 0, 0.15);
    padding: 1vw 1vw 5vw 1vw;
}
.sign-up p, .sign-up h3, .sign-up h4 {
    color: rgb(0,120,188);
    font-size:1.2vw;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}
@media only screen and (max-width: 1280px) {
    .sign-up p, .sign-up h3, .sign-up h4 {
        font-size:1.5vw;
    }
}
@media only screen and (max-width: 767px) {
    .sign-up p, .sign-up h3, .sign-up h4 {
        font-size:3.2vw;
    }
}
.sign-up p, .sign-up h3 {
    line-height: 1.4;
}
.sign-up h4 {
    line-height:1.2;
}

/*info*/
.sign-up   h4 {
    font-style: italic;
}
.sign-up .firstH4 {
    margin-top: 2vw;
}
.sign-up .col-left {
}
@media only screen and (max-width: 767px) {
    .sign-up .col-left {
        margin-bottom: 2vw;
    }
}

/*form*/
.sign-up .col-right {
    border-radius: 2vw;
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    padding: 1vw;
}
/*input*/
.sign-up input {
    color:#F27232;
    font-size:1vw;
    width:100%;
    margin: 8px 0 8px 10px;
    padding:1vw 1.5vw;
    border-radius:27px;
    border:0 solid;
}
@media only screen and (max-width: 767px) {
    .sign-up input {
        height: 6vw;
        font-size:3vw;
    }
    .sign-up {
        padding: 2% 2.8%;
    }
}
.sign-up input::placeholder {
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity:1;
    font-weight:bold;
}
.sign-up input:focus {
    outline:none;
}
/*button*/
.sign-up button {
    width: 100%;
    color:#F27232;
    background: #fff;
    padding: 0.3vw;
    font-size: 1.4vw;
    border-radius: 1vw;
    font-weight:bold;
    border: 0.3vw solid #ffda0b;
    cursor: pointer;
}
@media only screen and (max-width: 767px) {
    .sign-up button {
        padding: 1vw 0.3vw;
        font-size: 3vw;
        margin: 10px auto;
        width: 60%;
        border-radius: 3vw;
    }
    .box-btn-sign {
        text-align: center;
    }
    .box-sign-input {
        text-align: center;
    }
    .sign-up input {
        width: 80%;
        margin: 10px auto;
    }
    .logo-footer {
        text-align: center;
    }
    .footer-container img {
        width: 40vw!important;
        padding: 10px 0 20px 0;
    }
}
.sign-up button:hover {
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    color:#fff;
}
