.question-format-container {
    background: url("../images/images/bgQuestion.png");
}
.question-format {
    padding: 4vw 0;
}
.question-format .title {
    padding-left: 6vw;
}
@media only screen and (max-width: 767px) {
    .question-format .title {
        max-width: 50%;
        padding: 0 3vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4vw;
    }
}
.question-format .title p, .question-format h1, .question-format h2, .question-format h3, .question-format h4{
    font-family: "VL";
    font-weight: normal;
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.5;
    font-size: 4.2vw;
}
.question-format .title p {
    font-weight: normal;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
}
.question-format .title h1 {
    font-size: 9.5vw !important;
    line-height: 1.24;
    margin: 0 0 -1vw;
}
@media only screen and (max-width: 767px) {
    .question-format .title h1 {
        font-size: 9vw !important;
        line-height: 1.2;
    }
}
.question-format img {
    width:100%;
    height:100%;
}

/*question format*/
.question-format .title {
  position:relative;
}
.question-format .colColor {
    margin-left:-50px;
}
@media only screen and (max-width: 991px) {
    .question-format .colColor {
        margin-left: -20px;
    }
}
@media only screen and (max-width: 767px) {
    .question-format .colColor {
        padding-left: 5vw;
        padding-right: 2vw;
        margin-left: 0;
    }
    .question-format .title img{
        top: -3vw!important;
        right: -21vw;
        left: auto!important;
    }
}
.question-format .title img {
    position: absolute;
    top: 12vw;
    width: 25vw;
    height: auto !important;
    left: 25vw;
}
.topQuestion .photo img{
    margin: 0 20px;
}
.question-format .questionFormat, .color {
    font-size: 2.5vw;
    color: rgb(0, 120, 188);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
    .question-format .photo {
        padding: 0!important;
        margin-bottom: 0;
    }
    .question-format .questionFormat {
        margin-bottom: 0;
    }
    .question-format .questionFormat, .color {
        font-size: 5vw;
        margin-bottom: 0!important;
    }
    .topQuestion .photo img{
        margin: 0;
    }
}
.question-format .topQuestion {
    margin-bottom: 2vw;
}
.question-format .midQuestion,
.question-format .endQuestion {
    padding: 0 2vw;
    margin: 0;
}
.question-format .midQuestion,
.question-format .endQuestion {
}

.question-format .midQuestion .photo img,
.question-format .endQuestion .photo img,
{
    margin:0 15px;

}

.question-format .questionFormat {
    margin-bottom: 10px;
}

.question-format .questionFormat.featured {
    min-height: 80px;
    vertical-align: bottom;
}


.question-format .photo {
    padding: 0 10px;
}