/* @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Black.ttf");
    src: url("fonts/Montserrat-BlackItalic.ttf") format("truetype"),
    url("/fonts/Montserrat-Bold.ttf") format("truetype"),
    url("/fonts/Montserrat-BoldItalic.ttf") format("truetype"),
    url("/fonts/Montserrat-ExtraBold.ttf") format("truetype"),
    url("/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype"),
    url("/fonts/Montserrat-ExtraLight.ttf") format("truetype"),
    url("/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype"),
    url("/fonts/Montserrat-Italic.ttf") format("truetype"),
    url("/fonts/Montserrat-Light.ttf") format("truetype"),
    url("/fonts/Montserrat-LightItalic.ttf") format("truetype"),
    url("/fonts/Montserrat-Medium.ttf") format("truetype"),
    url("/fonts/Montserrat-MediumItalic.ttf") format("truetype"),
    url("/fonts/Montserrat-Regular.ttf") format("truetype"),
    url("/fonts/Montserrat-SemiBold.ttf") format("truetype"),
    url("/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype"),
    url("/fonts/Montserrat-Thin.ttf") format("truetype"),
    url("/fonts/Montserrat-ThinItalic.ttf") format("truetype");
} */

@font-face {
    font-family: "VL";
    src: url("fonts/VL Bebas Neue Semirounded.otf");
}

body {
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}

a,
a:visited {
    text-decoration: none;
}
.benefit, .feedback {
    background: #fff;
}
.main {
    overflow: hidden;
}
/*header*/
.box-header-top {
   background: #fff url("./images/images/bgHeader1.jpg") no-repeat center top;
    background-size: cover; 
}
.header-container {
    overflow: hidden;
    padding: 0.7vw 3.4vw .7vw 3.4vw;
    
}
.header-container .box-header {
    margin-bottom: 6vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-container .box-header .col-menu {
    padding-left: 0;
}
.logo {
    position: relative;
    width: 13.2vw;
}
@media screen and (max-width: 768px){
    .logo {
        width: 30vw;
    }
}
.featured, .benefit, .faq-container, .feedback, .price-signup-container, .footer-container {
    padding: 5vw 3vw;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-container {
        padding: 40px 80px;
    }
}
@media screen and (max-width: 767px) {
    .header-container {
        padding: 1vw 4vw;
    }
}
.introduce img {
    position: absolute;
}

@media screen and (max-width: 480px) {
    .header-menu ul {
        padding: 0;
        margin: 0 0 20px 0;
    }
    .header-container .col-xs-6 {
        -ms-flex-preferred-size: 80%;
        flex-basis: 90%;
        max-width: 90%;
    }

    .header-container .row {
        webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    .slogan-title .endSlogan {
        text-align: center !important;
        padding-right: 0;
    }
    .slogan-title .col-xs-offset-6 {
        margin-left: 0;
    }
    .slogan-title .midSlogan .note {
        left: 10.5vw!important;
        bottom: 9vw!important;
    }
    .slogan-title .midSlogan .note img {
        width: 11vw;
        max-width: none!important;
    }
    .slogan-content .txt {
        padding: 2.5vw 2.8vw;
        font-size: 3vw;
    }
}
/*menu*/
.header-menu {
    border-width: 0.5px;
    padding: 10px;
    width:auto;
}
@media only screen and (max-width: 767px) {
    .header-menu {
        border-radius: 5vw;
        padding: 0.5vw;
        width: 95%;
    }
}
.header-menu ul {
    list-style: none;
}
.header-menu ul li {
    display: inline-block;
    margin: 0 7px;
}

.header-menu li a{
    font-size: 1.6vw;
    font-weight: bold;
    display: block;
    color:#F27232;
    text-transform: uppercase;

}
@media only screen and (max-width: 991px) {
    .header-menu li a{
        font-size: 1.5vw;
    }
}
@media only screen and (max-width: 767px) {
    .header-menu li a{
        font-size: 2.4vw;
    }
}
@media only screen and (max-width: 480px) {
    .header-menu li a{
        font-size: 3.2vw;
    }
}
.header-menu a{
    padding: 8px 15px;
}
@media only screen and (max-width: 767px) {
    .header-menu a {
        padding: 0.8vw 0.5vw;
    }
}
.header-menu a:active, .header-menu a:hover{
    color:#fff;
    background: linear-gradient(66deg, rgba(243,168,112,1) 0%, rgba(244,50,33,1) 100%);
    border-radius: 35px;
}
@media screen and (max-width: 767px) {
    .header-menu {
        margin-top: 10px;
        font-size: 15px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .header-menu {
        margin-top: 5px;
    }
}
/*introduce*/
.introduce {
    margin: 0 2.5vw 5vw;
}
.introduce .player {
    width:100%;
    margin-top: 50px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .introduce {
        margin-top:0;
        margin: 0 2.5vw 2vw;
    }
    .introduce .player {
        height:350px;
        margin-top:20px;
    }
    .introduce .player > div {
        width: 100%!important;
    }
}
@media screen and (max-width: 767px) {
    .introduce {
        margin-top:0;
        margin: 0 2.5vw 0vw;
    }
    .introduce .player {
        height:180px;
        margin-top:5px;
    }
    .introduce .player > div {
        width: 100%!important;
    }
}
/*slogan*/
.slogan-title {
    padding-top:20px;
}
.slogan-title > .row > * {
    padding-right: 1.5vw;
}
.slogan-title p {
    font-weight: bold;
    background: linear-gradient(66deg, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.4;
    font-size: 1.5vw;
}
.slogan-title .midSlogan {
    font-size: 11.5vw;
    line-height: 0.9;
    font-family: "VL" !important;
    color: rgb(254, 254, 254);
    text-shadow: 2.5px 4.33px 35px rgba(0, 0, 0, 0.23);
    position: relative;
    z-index: 1;
    position: relative;
}
.slogan-title .midSlogan .note{
    left: -4vw;
    bottom: 5vw;
    opacity: 0.9;
    position: absolute;
}
.slogan-title .midSlogan .note img{
    max-width: 11vw;
}
.slogan-title .smallSlogan {
    font-size: 7.75vw;
    line-height: 0.9;
    font-family: "VL" !important;
    color: rgb(254, 254, 254);
    text-shadow: 2.5px 4.33px 35px rgba(0, 0, 0, 0.23);
    margin-bottom: -1vw;
    z-index: 3;
    position: relative;
    
}
@media only screen and (max-width: 767px) {
    .slogan-title .midSlogan {
        font-size: 16vw;
        margin-bottom: -10px;
        padding: 2vw 0 0 0;

    }
    .slogan-title .smallSlogan {
        font-size: 11.15vw;
    }
    .slogan-title .topSlogan p {
        text-align: left;
        margin-left: 8vw;
    }
    .slogan-title .endSlogan p {
        text-align: right;
        margin-right: 6vw;
    }
    
}

.slogan-title .endSlogan {
    text-align:right;
    padding-right: 4vw;
    margin-bottom: 0.5vw;
}
.slogan-title .topSlogan p,
.slogan-title .endSlogan p {
    font-size: 2.1vw;
    margin-top: 0;
    margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
    .slogan-title .topSlogan p,
    .slogan-title .endSlogan p {
        font-size: 4.25vw;
    }
}
/*content*/
.slogan-content .txt {
    text-align:center;
    padding: 1vw 2.2vw;
    color: rgb(255, 255, 255);
    font-size: 1.35vw;
    border-radius: 2vw;
    background: rgb(243,167,112);
background: linear-gradient(90deg, rgba(243,167,112,1) 0%, rgba(243,140,112,1) 55%, rgba(243,123,112,1) 100%);
    font-weight: bold;
    margin-right: 2vw;
}
@media only screen and (max-width: 991px) {
    .slogan-content .txt {
        font-size: 3.5vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
        margin-left: 2vw;
    }
}
@media only screen and (max-width: 767px) {
    .slogan-content .txt {
        font-size: 2.75vw;
        margin-top: 2vw;
        margin-bottom: 1vw;
    }
}

.slogan-content {
    position:relative;
}

.slogan-title .quote1, .slogan-title .quote2 {
    position:absolute;
    width: 3.3vw;
    height: auto;
}
@media only screen and (max-width: 991px) {
    .slogan-title .quote1, .slogan-title .quote2 {
        width: 4.3vw;
    }
}
.slogan-title .quote1 {
    top: -0.5vw;
    left: 0vw;
}
.slogan-title .quote2 {
    right: 1.5vw;
    bottom: 0;
    transform: translate(-0.5vw, 0.5vw);
}

@media only screen and (max-width: 991px) {
    .slogan-title .quote2 {
        transform: translate(-0.5vw, -1vw);
    }
}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .midSlogan {
        text-align:center;
    }
    .slogan-content div, .slogan-title p {
        font-size: 2vw;
    }

}
/*mobile*/
@media screen and (min-width: 481px) and (max-width: 767px) {
    .slogan-title {
        padding-top:0;
    }
    .midSlogan {
        text-align:center;
    }
    .slogan-title p {
        font-size:16px;
    }
}
@media screen and (max-width: 480px) {
    .slogan-title {
        padding-top:0;
    }
    .midSlogan {
        text-align:center;
    }
    .slogan-title p {
        font-size:13px;
    }
}

/*problems*/
.problems {
    position: relative;
    padding-bottom: 0.2vw;
    width: 90%;
}
@media only screen and (max-width: 767px) {
    .problems {
        position: relative;
        padding-bottom: 0.2vw;
        width: 100%;
    }
}
.problem-title {
    position: relative;
    z-index: 2;
    font-family: "VL";
    color: rgb(255, 255, 255);
    font-size: 2.85vw;
    border-radius: 3vw;
    padding:1vw 1vw 0.35vw 1vw;
    background: rgb(243,167,112);
background: linear-gradient(90deg, rgba(243,167,112,1) 0%, rgba(243,140,112,1) 55%, rgba(243,123,112,1) 100%);
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
}
@media only screen and (max-width: 991px) {
    .problem-title {
        font-size: 4.5vw;
    }
}
@media only screen and (max-width: 767px) {
    .problem-title {
        font-size: 4.5vw;
    }
}
.col-xs.problem-title {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 48%;
}
.box-btn {
    width: 100%;
    text-align: center;
}
.problem-btn {
    position: relative;
    z-index: 2;
    font-family: "VL";
    color: rgb(255, 255, 255);
    font-size: 4.5vw;
    border-radius: 5vw;
    padding: 1.25vw 3vw 0.35vw 3vw;
    background: rgb(242,102,70);
    background: linear-gradient(90deg, rgba(242,102,70,1) 0%, rgba(225,79,54,1) 35%, rgba(201,48,34,1) 100%);
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    margin: 0 auto;
    display: inline-block;
    width: auto;
}
.problem-btn a {
    color: #fff;
}

@media only screen and (max-width: 991px) {
    .col-xs.problem-title {
        max-width: 55%;
    }
}
@media only screen and (max-width: 767px) {
    .col-xs.problem-title {
        max-width: 85%;
        font-size: 5.15vw;
        padding: 1.85vw 2.5vw 1vw 2.5vw;
        border-radius: 5vw;
    }
    .problem-btn {
        padding: 2.5vw 5vw 1.35vw 5vw;
        width: 60%;
        margin-bottom: 30px;
        font-size: 6vw;
    }
}
.problem-content {
    position: relative;
    padding: 0;
    text-align:left;
    border-radius: 43px;
    background-color: rgb(255, 255, 255);
    box-shadow: 29.326px 31.448px 68px 0px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 991px) {
    .problem-content {
        border-radius: 4vw;
    }
}
.problem-content:before {
    display: block;
    content: '';
    position: absolute;
    left: -0.6vw;
    right: -0.6vw;
    top: -0.6vw;
    bottom: -0.6vw;
    border: 1px solid #fff;
    border-radius: 43px;
}

@media only screen and (max-width: 991px) {
    .problem-content:before {
        border-radius: 4vw;
    }
}
.problem-content ul {
    list-style: none;
    padding: 3vw 0 1vw;
    margin: 0;
}
@media only screen and (max-width: 1280px) {
    .problem-content ul {
        padding: 3vw 0 2vw;
    }
}
@media only screen and (max-width: 991px) {
    .problem-content ul {
        padding: 4vw 0 2vw;
    }
}
.problem-content ul li {
    position: relative;
    padding: 0.8vw 2vw;
}
.problem-content ul li:not(:last-child) {
    border-bottom: 1px solid #fbded5;
}
.problem-content p {
    font-size: 1.4vw;
    font-weight: bold;
    line-height: 1.7;
    color: #f37b70;
    padding-right: 7vw;
    margin-top: 0;
    margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
    .problem-content p {
        font-size: 1.8vw;
        padding-right: 14vw;
    }
}
@media only screen and (max-width: 767px) {
    .problem-content p {
        font-size: 2.25vw;
    }
}
@media only screen and (max-width: 480px) {
    .problem-content p {
        font-size: 3vw;
        padding-right: 0;
        line-height: 150%;
    }
    .problems .problem-content .alert {
        width: 3vw;
    }
}
.problems .problem-content .alert {
    display: inline-block;
    vertical-align: middle;
    width: 1.9vw;
    height: auto;
    margin-right: 0.3vw;
}

.first-content {
    position:relative;
}
.col-xs.problem-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 80%;
}
@media only screen and (max-width: 991px) {
    .col-xs.problem-content {
        max-width: 100%;
    }
}
.problems hr {
    color:#f37b70;
    margin-top:-10px;
    border-bottom: none;
    opacity: 0.25
}
.tay {
    position: absolute;
    right: -5vw;
    bottom: 0;
    width: 28vw;
    height: auto;
}
@media screen and (max-width: 991px) {
    .tay {
        right: -7vw;
        width: 26vw;
    }
}
/*mobile*/
@media screen and (max-width: 480px) {
    .tay {
        right: -10vw;
        width: 26vw;
        bottom: -3vw;
    }
    .first-content img {
        padding-top:10px;
        left:-22px;
    }
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0 !important;
    margin-bottom: 10px;
}
.owl-dot span {
    border: 0;
    width: 24px!important;
    height: 24px!important;
    background-image: -webkit-gradient(linear, left top, right top, from(#b27033), to(#5c472f)) !important;
    background-image: -webkit-linear-gradient(left, #b27033, #5c472f)!important;
    background-image: -moz- oldlinear-gradient(left, #b27033, #5c472f)!important;
    background-image: -o-linear-gradient(left, #b27033, #5c472f)!important;
    background-image: linear-gradient(to right, #b27033, #5c472f)!important;
    border-radius: 50%;
    text-indent: -999em;
    outline: none!important;
    display: inline-block;
    position: relative;
}
.owl-dot span::before {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    content: "";
    z-index: 3;
    border-radius: 50%;
    background-color: #c09104;
}

.owl-dot.active span{
    background: #f7ef0d;
    background: -moz-radial-gradient(center, ellipse cover, #f7ef0d 0%, #f7ef0d 24%, #f7ef0d 24%, #ef5d0e 100%)!important;
    background: -webkit-radial-gradient(center, ellipse cover, #f7ef0d 0%,#f7ef0d 24%,#f7ef0d 24%,#ef5d0e 100%)!important;
    background: radial-gradient(ellipse at center, #f7ef0d 0%,#f7ef0d 24%,#f7ef0d 24%,#ef5d0e 100%)!important;
}

.owl-dot.active span::before {

}

.description h1 {
    font-size:1.5vw !important;
}

.visible-xs {
    display: none;
}
@media screen and (max-width: 767px) { 
    .visible-xs {
        display: block!important;
    }
    .hidden-xs {
        display: none;
    }
    .logo-footer ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .logo-footer ul li{
        padding: 0 5px;
        display: block;
        vertical-align: middle;
    }
}

.logo-footer ul {
    list-style: none;
    margin: -20px 0 0 0;
}
.logo-footer ul li{
    padding: 0 5px;
    display: inline-block;
    vertical-align: middle;
}
.logo-footer ul li img{
    max-width: 150px;
}
.box-header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-menu-sp {
    display: none;
}
@media screen and (max-width: 767px) { 
    .box-menu-sp {
        display: block;
    }
    .box-header-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-bottom: 0px;
    }
    .box-header-wrap .header-menu {
        display: none;
    }
    .box-header-wrap .menuopen span{
        width: 30px;
        height: 4px;
        display: block;
        margin-bottom: 3px;
        border-radius: 3px;
        background: rgb(243,167,112);
        background: linear-gradient(
        90deg
        , rgba(243,167,112,1) 0%, rgba(243,140,112,1) 55%, rgba(243,123,112,1) 100%);
    }
    
}

.fixmenu {
    display: none;
    position: fixed;
    z-index: 100;
    top: 14vw;
    right: 0;
    transform: translate(100%,0);
    -webkit-transform: translate(100%,0);
    height: 100%;
    background: #fff;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

body.fix_active .fixmenu {
    width: 280px;
    overflow: auto;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
}
.fixmenu .fixmenu_inner {
    padding: 2em 0;
}

.fixmenu .fixmenu_inner ul {
    margin: 0;
    padding: 0;
}
.fixmenu .fixmenu_inner ul li {
    list-style: none;
    padding: 10px 20px;
    font-weight: bold;
    background: linear-gradient(
66deg
, rgba(242,135,56,1) 0%, rgba(244,50,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.4;
    font-size: 4vw;
    text-transform: uppercase;
}

.dk-btn-top {
    position: relative;
    z-index: 2;
    font-family: "VL";
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
    border-radius: 10px;
    padding: 0.85vw 2vw 0.35vw 2vw;
    background: rgb(255,126,69);
    background: radial-gradient(circle, rgba(255,126,69,1) 0%, rgba(251,125,84,1) 49%, rgba(243,123,112,1) 100%);
    margin: 0 5px;
    display: inline-block;
    width: auto;
}
.dk-btn {
    position: relative;
    z-index: 2;
    font-family: "VL";
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
    border-radius: 10px;
    padding: 0.85vw 2vw 0.35vw 2vw;
    background: rgb(212,155,2);
    background: radial-gradient(circle, rgba(212,155,2,1) 0%, rgba(205,145,7,1) 49%, rgba(199,132,15,1) 100%);
    margin: 0 5px;
    display: inline-block;
    width: auto;
}
.dk-btn a ,.dk-btn-top a {
    color: #fff;
}
@media only screen and (max-width: 767px) {
    .box-btn-sign {
        margin: 20px 0 0 0!important;
    }
    .dk-btn-top {
        padding: 2.5vw 5vw 1.35vw 5vw;
        width: 60%;
        margin-bottom: 0px;
        font-size: 6vw;
        display: inline-block;
        margin-bottom: 10px;
    }
    .dk-btn {
        padding: 2.5vw 5vw 1.35vw 5vw;
        width: 60%;
        margin-bottom: 0px;
        font-size: 6vw;
        display: inline-block;
    }
    .dk-btn a ,.dk-btn-top a {
        color: #fff;
    }
    
}
.box-btn-sign {
    margin-top: -25px;
    width: 100%;
    text-align: center;
}


.box-link-footer {
  position: fixed;
    bottom: 50px;
    right: 10px;
    width: auto;
    padding: 10px;
}

.box-link-footer a {
    position: relative;
    z-index: 2;
    font-family: "VL";
    color: rgb(255, 255, 255);
    font-size: 22px;
    border-radius: 5vw;
    padding: 13px 20px;
    background: rgb(242,102,70);
    background: linear-gradient(90deg, rgba(242,102,70,1) 0%, rgba(225,79,54,1) 35%, rgba(201,48,34,1) 100%);
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    margin: 0 auto;
    display: inline-block;
    width: auto;
    text-transform: uppercase;
        font-size: 22px;
   box-shadow: 20.983px 16.992px 62px 0px rgba(0, 0, 0, 0.15);
  }
  .box-link-footer a:hover {
    box-shadow: none;
  }