/*
1. Common styles
2. Header additional styles
3. Footer additional styles
4. Additional styles
*/

/* -- 1.common css for unit testing
------------------------------------------ -- */

body>.main {
    padding-bottom: 1px;
}

body.unit-mode {
    padding-top: 0;
    margin-bottom: 0 !important;
}

.service-nav:not(.cynic-no-nav-top-menu) .container .navbar-toggler-right {
    display: none !important;
}

.unit-mode .header-wrapper.fixed-top {
    position: static;
}

.logged-in:not(.compose-mode) .header-wrapper.fixed-top {
    top: 32px;
}

img {
    max-width: 100%;
    height: auto;
}

.banner-slider img,
.roi-driven-optimization .content-block .img-container img {
    max-width: initial;
    height: auto;
}

.unit-mode img {
    max-width: 100%;
    height: auto;
}

select {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #555;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unit-mode h1,
.unit-mode h2,
.unit-mode h3,
.unit-mode h4,
.unit-mode h5,
.unit-mode h6,
.entry-title {
    margin: 30px 0 20px;
}

.unit-mode .details-banner h1 {
    margin: 0;
}

.unit-mode .blog-item h2 {
    margin: 0;
}

.unit-mode p {
    margin-bottom: 2rem;
}

.unit-mode .widget p {
    margin-bottom: 0;
}

dl dt,
dl dd {
    font-size: 1.7rem;
}

dl dd {
    font-weight: 300;
    color: #555;
    margin-bottom: 20px;
}

.unit-mode ul {
    list-style: disc;
    padding-left: 17px;
}

.unit-mode ul li ul {
    padding-left: 20px;
    list-style: disc inside;
    z-index: 9;
}

.unit-mode ul li ol,
.unit-mode ol li ul {
    padding-left: 20px;
}

.unit-mode li {
    margin-top: 5px;
}

ol {
    padding: 0;
    list-style-position: inside;
}

ol ol {
    padding-left: 20px;
}

.unit-mode ul li span {
    font-size: 1.7rem !important;
    color: #555;
}

.unit-mode footer ul li span {
    color: #8c8c8c;
}

.unit-mode ul li em {
    font-size: 1.7rem !important;
}

.unit-mode ul li strong {
    font-size: 1.7rem !important;
    font-weight: bold;
}

ol li {
    font-size: 1.7rem;
    color: #555;
    font-weight: 300;
    margin-top: 5px;
}

.blog-details img,
.blog-posts img {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.unit-mode .blog-details p {
    margin-bottom: 2rem;
}

.unit-mode .blog-details .widget p {
    margin-bottom: 0;
}

.unit-mode p strong {
    color: #333;
    font-weight: 600;
}

.unit-mode footer p strong {
    color: #8c8c8c;
    font-weight: 400;
}

.unit-mode address {
    font-size: 1.7rem;
    line-break: 3.2rem;
    font-weight: 300;
    color: #555;
    margin-bottom: 2rem;
}

.unit-mode .details-banner .post-info {
    color: #fff;
}

pre,
code {
    font-size: 1.4rem;
    color: #00C853;
}

pre {
    white-space: pre-wrap;
}

.screen-reader-text {
    display: none;
}

footer .screen-reader-text {
    color: #ccc;
}

.post-password-form input[type="password"] {
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.7rem;
    font-weight: 300;
    color: #555555;
    border: none;
    border-bottom: 2px solid #e6e6e6;
    opacity: 1;
    margin: 0 20px;
    min-width: 250px;
}

.post-password-form input[type="submit"] {
    font-size: 1.7rem;
    line-height: 4rem;
    color: #ffffff;
    font-weight: 400;
    background: #5c81fa;
    background-image: -webkit-gradient(linear, left top, right top, from(#4fbf53), to(#9dcf56));
    background-image: -webkit-linear-gradient(left, #4fbf53, #9dcf56);
    background-image: -o-linear-gradient(left, #4fbf53, #9dcf56);
    background-image: linear-gradient(to right, #4fbf53, #9dcf56);
    background-repeat: repeat-x;
    display: inline-block;
    padding: 0 3rem;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    cursor: pointer;
}

.post-password-form input[type="password"]:focus {
    border-color: #4fbf53;
}

.post-password-form input[type="submit"]:hover {
    color: #ffffff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/* -- 2.widget css
------------------------------------------ -- */

.widget ul li {
    margin-bottom: 10px;
}

.widget_nav_menu ul li {
    margin-bottom: 10px;
}

.widget ul li a {
    display: inline;
    font-size: 1.7rem;
    line-height: 30px;
    font-weight: 300;
    color: #888888;
}

.widget ul li a:hover {
    color: #4fbf53;
}

article.sticky {
    background: #f6f6f6;
    padding: 0 0 40px;
    border-left: 3px solid #5c81fa;
    border-radius: 0 5px 5px 0;
}

article.sticky .img-container img,
article.sticky .img-container {
    border-radius: 0;
}

article.sticky .article-head,
article.sticky p {
    padding: 0 40px;
}

article.sticky .primary-btn {
    margin-left: 40px;
    margin-right: 40px;
}

.unit-mode .widget li,
.unit-mode footer li {
    list-style: disc;
}

.unit-mode footer .footer-mid-nav>li:first-child {
    list-style: none;
}

.unit-mode footer p {
    color: #8c8c8c;
}

.calendar_wrap a {
    color: #fff;
}

.widget .calendar_wrap a {
    color: #333;
}

.calendar_wrap a:hover,
.widget .calendar_wrap a:hover {
    color: #4fbf53;
}

.unit-mode .gallery {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.unit-mode .gallery .gallery-item {
    width: 25%;
    float: left;
    padding: 0 15px;
}

.unit-mode .gallery .gallery-item img {
    width: 100%;
}

/* -- Table and calender css -- */

table {
    width: 100%;
}

table td,
table th {
    font-size: 14px;
    color: #8c8c8c;
    padding: 5px;
}

table tbody td {
    border: 1px solid #cccccc;
}

table thead tr {
    border: 1px solid #cccccc;
}

table caption {
    font-size: 1.5rem;
}

table thead th,
table tbody td,
table tbody th {
    text-align: center;
}

table tbody tr th {
    border: 1px solid #ccc;
}

table a {
    color: #333;
}

.unit-mode .blog-details .post-nav .nav-social-links {
    margin-top: 6rem;
}

.unit-mode .blog-details .post-nav .prev-next {
    margin-top: 6rem;
}

@media screen and (min-width: 992px) {
    .unit-mode .navbar-nav .nav-item span {
        display: none;
    }
}

.navbar .dropdown-menu ul,
.navbar-nav li ul ul {
    top: 0;
    left: 100%;
}

.navbar-nav>li:last-child ul ul,
.navbar-nav>li:nth-last-child(2) ul ul,
.navbar-nav>li:nth-last-child(3) ul ul {
    left: auto;
    right: 100%;
}

.header-wrapper .navbar .nav-item .nav-item .nav-link::after {
    display: none;
}

/* -- Pagination for unit test-- */

.pagination .page-numbers {
    font-size: 1.5rem;
    width: 4rem;
    line-height: 3.8rem;
    color: #888888;
    text-align: center;
    font-weight: 300;
    padding: 0;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination .page-numbers.current {
    color: #ffffff;
    background-image: -webkit-gradient(linear, left top, right top, from(#4fbf53), to(#9dcf56));
    background-image: -webkit-linear-gradient(left, #4fbf53, #9dcf56);
    background-image: -o-linear-gradient(left, #4fbf53, #9dcf56);
    background-image: linear-gradient(to right, #4fbf53, #9dcf56);
    background-repeat: repeat-x;
    border-color: #4fbf53;
}

.pagination .page-numbers:first-child {
    border-radius: 5px 0 0 5px;
}

.pagination .page-numbers:last-child {
    border-radius: 0 5px 5px 0;
}

.pagination .page-numbers:not(.current):hover {
    background: #e9ecef;
}

/* -- Footer css for unit test -- */

.unit-mode .page-footer {
    position: static;
}

.unit-mode .page-footer .footer-mid .footer-mid-nav .nav-item:first-child {
    margin-bottom: 1.2rem;
}

.unit-mode .page-footer .footer-mid .footer-mid-nav {
    padding: 20px 0;
}

footer ul li,
footer ul li a {
    font-size: 16px;
    line-height: 32px;
    color: #8c8c8c;
    padding: 0;
}

footer ul li a:hover {
    color: #4fbf53;
}

.tagcloud::before,
.tagcloud::after {
    content: " ";
    display: block;
    clear: both;
}

.tagcloud a {
    float: left;
    font-size: 1.7rem !important;
    line-height: 35px;
    font-weight: 300;
    color: #888888;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 0 2rem;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
}

.tagcloud a:hover {
    color: #4fbf53;
    border-color: #4fbf53;
}

.post-tags {
    font-size: 2.3rem;
    line-height: 3.2rem;
    color: #333;
    font-weight: 400;
    margin: 7rem 0 0;
    clear: both;
}

.blog-details .post-tags {
    margin-bottom: 5rem;
}

.post-tags a {
    display: inline-block;
    font-size: 1.7rem !important;
    line-height: 35px;
    font-weight: 300;
    color: #888888;
    margin-bottom: 1rem;
    margin-right: .7rem;
    padding: 0 2rem;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
}

.post-tags a:hover {
    color: #4fbf53;
    border-color: #4fbf53;
}

footer .footer-mid-nav .sub-menu,
.widget .sub-menu,
.widget .children {
    padding-left: 20px;
}

.widget .sub-menu,
.widget .children {
    margin-top: 10px;
}

.widget.widget_nav_menu .sub-menu {
    margin-top: 20px;
}

footer .footer-mid-nav .recentcomments {
    margin-bottom: 15px;
}

footer .footer-mid-nav .recentcomments a {
    color: #ccc;
}

footer .footer-mid-nav .recentcomments a:hover {
    color: #4fbf53;
}

.rssSummary {
    margin: 15px 0;
    line-height: 3.2rem;
}

.page-footer .rsswidget {
    color: #ccc;
}

.page-footer .rsswidget:hover {
    color: #4fbf53;
}

.rss-date {
    display: block;
}

cite {
    margin-bottom: 20px;
}

footer .widget .form-control {
    padding: 0 10px;
}

footer .widget {
    margin-bottom: 0;
}

.textwidget img {
    margin: 15px 0;
}

.blog-sidebar select,
.footer-mid-nav select,
.footer-mid-nav .widget .search-field.form-control {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.widget form .form-control .textwidget form {
    margin-top: 30px;
}

.alignleft {
    margin: 15px 25px 15px 0;
    float: left;
}

.alignright {
    float: right;
    margin: 15px 0 15px 25px;
}

img.aligncenter,
.aligncenter img {
    text-align: center;
}

.wp-caption-text {
    font-size: 1.5rem;
    padding: 10px 0;
}

.wp-caption {
    max-width: 100%;
}

.unit-mode .post-nav {
    width: 100%;
}

.bypostauthor {
    display: block;
}

.gallery-caption {
    display: block;
}

.unit-mode .article-head .category-icon:hover i {
    color: #4fbf53;
}

/*-- End of unit test css
--------------------------------------------*/

/*-- home page service section css
--------------------------------------------*/

.services .slick-track {
    display: flex;
    flex-wrap: wrap;
}

.services .slick-track .slick-slide {
    height: auto;
}

.services .slick-track .slick-slide>div {
    height: 100%;
}

.section.services .slick-slider .slick-list {
    margin: 0 -15px;
}

.services .carousel-container .carousel-inner .item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.services .carousel-container .carousel-inner .item::before {
    background: #f9fafb;
    opacity: 1;
}

.services .carousel-container .carousel-inner .item:hover::before {
    opacity: 0;
}

.services .carousel-container .carousel-inner .item .content {
    height: 100%;
}

.case-studies .row .col-md-6 {
    margin-bottom: 30px;
}

.case-studies .row .pagination-wrapper {
    margin-top: 30px;
}

/*-- Home page roi-driven section --*/

.roi-driven-optimization .content-block .img-container.order-lg-1 img {
    left: auto;
    right: 34%;
}

.awards .carousel-container .carousel-inner .item {
    padding: 0 15px;
}

.slick-dots {
    position: static;
    margin-top: 50px;
}

.cynic-career-slider .slick-dots {
    position: absolute;
}

.logged-in-as {
    padding: 0 15px;
    margin-bottom: 10px;
}

.category-icon i {
    font-size: 1.4rem;
    margin-right: .8rem;
}

.details-banner .post-info .category-icon i {
    color: #fff;
    transition: all .5s;
}

.details-banner .post-info .category-icon:hover i {
    opacity: .7;
}

.category-icon:hover i {
    color: #5c81fa;
}

/*-- Customer reviews --*/

.customer-review .slick-track {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.customer-review .slick-track .slick-slide {
    display: block;
    height: auto;
}

.customer-review .slick-track .slick-slide .review-content {
    height: 100%;
}

.customer-review .slick-slider {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.customer-review .slick-dots {
    margin-top: 30px;
}

.stars-container {
    overflow: hidden;
}

.stars-container::after {
    white-space: nowrap;
}

.section.service-cat-checklist .vc_column_container>.vc_column-inner {
    padding-left: 0;
    padding-right: 0;
}

footer img {
    max-width: 100%;
    height: auto;
}

.smm-strategy .overlay {
    background-color: transparent;
}

.smm-strategy .overlay h2,
.smm-strategy .overlay p {
    color: #fff;
}

.components .head-with-bg {
    background-image: none;
}

article iframe {
    width: 100%;
    margin-bottom: 4rem;
}

.service-nav .container {
    position: relative;
}

.service-nav .container .navbar-toggler-right {
    position: absolute;
    top: -60px;
    right: 9px;
    margin-right: 0;
}

.service-nav .navbar-toggler span.navbar-toggler-icon {
    font-size: 20px;
    color: #333;
    transition: all .3s;
}

.service-nav .navbar-toggler:hover span.navbar-toggler-icon {
    color: #5c81fa;
}

.unit-mode .fullscreen-menu,
.unit-mode .mm-toggler {
    display: none;
}

.service-nav span.navbar-toggler-icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.service-nav span.navbar-toggler-icon:before {
    content: "\f0c9";
}

/*-- Css for why-us section --*/

.list-group-with-icon {}

.details-block-content .text-content .list-group-with-icons li {
    list-style: none;
    position: relative;
    padding-left: 10px;
}

.details-block-content .text-content .list-group-with-icons li i,
.details-block-content .text-content .list-group-with-icons li span {
    position: absolute;
    top: 0;
    left: -20px;
    line-height: inherit;
}

.custom-file-control::before {
    display: none;
}

.customer-review .carousel-inner {
    margin-bottom: 30px;
}

.footer-newsletter form .form-group .form-control {
    height: auto;
    line-height: 1;
    padding-top: 14px;
}

.footer-newsletter form .form-group .form-text {
    margin-bottom: 10px;
}

.header-wrapper .header-top .navbar-brand img {
    display: block;
}

.post-format-video {
    margin-bottom: 4rem;
}

.post-format-audio {
    margin-bottom: 4rem;
}

.post-format-video iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.post-details .post-format-video {
    padding-bottom: 0;
}

.featured-projects .tab-container .nav-tabs .nav-item .nav-link img{
    height: auto;
    max-height: 50px;
}

.performance .wpb_content_element {
    margin-bottom: 0;
}

.terms-privacy-content .content-block {
    margin-bottom: 3rem;
}

.checkbox-holder .wpcf7-list-item {
    width: 25%;
    display: inline-flex;
    margin: 0;
}

.checkbox-holder .wpcf7-list-item input {
    position: absolute;
    z-index: -1111;
    opacity: 0;
}

.checkbox-holder .wpcf7-list-item label {
    font-size: 1.5rem;
    line-height: 3.4rem;
    cursor: pointer;
}

.checkbox-holder .wpcf7-list-item label::before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 14px;
    height: 14px;
    background: transparent;
    border: 1px solid #bebebe;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    margin-top: 2px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/*-- blog page comment section --*/

.comments-area .commentlist {
    list-style: none;
    padding-left: 0;
}

.comment-body {
    margin-bottom: 4rem;
}

.comments-area ul,
.comments-area ul li ul {
    padding-left: 0;
}

.unit-mode .comments-area ul,
.unit-mode .comments-area ul li ul {
    padding-left: 20px;
}

.comments-area .comment {
    padding-left: 9rem;
    position: relative;
    list-style: none;
}

.comment-author .avatar {
    position: absolute;
    top: 6px;
    left: 0;
    width: 7rem;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.comment-author cite,
.comment-author cite a {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 400;
    color: #333333;
    font-style: normal;
    margin-bottom: 5px;
}

.comment-author .comment-meta a {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 2.8rem;
    color: #888888;
    font-weight: 300;
    white-space: nowrap;
    margin-right: 1.5rem;
    margin-bottom: 5px;
}

.comment-text a,
.logged-in-as a {
    color: #4fbf53;
}

.comment-author cite a:hover,
.comment-author .comment-meta a:hover {
    color: #4fbf53;
}

.comment-text a:hover,
.logged-in-as a:hover {
    color: #888888;
}

.comment-reply-link {
    font-size: 13px;
    line-height: 3rem;
    color: #ffffff;
    font-weight: 400;
    background: #5c81fa;
    background-image: -webkit-gradient(linear, left top, right top, from(#4fbf53), to(#9dcf56));
    background-image: -webkit-linear-gradient(left, #4fbf53, #9dcf56);
    background-image: -o-linear-gradient(left, #4fbf53, #9dcf56);
    background-image: linear-gradient(to right, #4fbf53, #9dcf56);
    background-repeat: repeat-x;
    display: inline-block;
    padding: 0 2rem;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

.comment-reply-link:hover {
    color: #ffffff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.comment-respond .comment-form .form-control {
    padding-left: 0;
    padding-right: 0;
}

.comment-respond .comment-reply-title {
    margin: 0 0 2.2rem;
}

.comment .comment-respond .comment-form .form-control {
    margin: 15px 0;
}

.comment .comment-respond .comment-form button {
    margin: 10px 0 30px;
}

.comments-area .comments-title {
    margin: 0 0 4rem;
}

.comment-reply-title small a {
    color: #888;
    margin-left: 10px;
    padding-left: 13px;
    border-left: 2px solid #ccc;
}

.comment-reply-title small a:hover {
    color: #4fbf53;
}

.comment .comment-reply-title {
    margin: 0 0 5px;
}

.comment .comment-form .logged-in-as {
    margin-bottom: 10px;
}

.blog-details .post-nav .prev-next a:first-r::after {
    display: none;
}

.blog-details .post-nav .prev-next a.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.blog-details .post-nav .prev-next a.disabled:hover {
    color: #888;
}

.unit-mode .blog-details .post-nav .prev-next span {
    font-size: 2rem;
}

.page-links {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}

.page-links .page-number {
    color: #888;
}

.page-links a .page-number {
    color: #4fbf53;
}

.category-icon a:last-child {
    margin-left: 5px;
}

.details-banner .post-info .category-icon a:nth-of-type(1) {
    margin-right: 1rem;
}

.current-menu-item>a,
.current-menu-ancestor>a,
.fullscreen-menu .navbar .navbar-nav .current-menu-ancestor .nav-link {
    color: #4fbf53;
}

.page-footer .footer-mid .footer-mid-nav .nav-item .nav-link {
    font-size: 16px;
}

.unit-mode .tag-videopress .post-format-video {
    padding-bottom: 0;
    margin-bottom: 0;
}

.comment-text p {
    margin-bottom: 2rem;
}

.unit-mode .blog-details .post-details ul {
    margin-bottom: 0;
}

.blog-item .category-icon i {
    color: #888;
}

.widget.blog-sidebar ul li a.rsswidget {
    color: #333;
    font-weight: 400;
}

.widget.blog-sidebar ul li a.rsswidget:hover {
    color: #5c81fa;
}

img {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.widget.widget_nav_menu.blog-sidebar .sub-menu {
    margin-top: 10px;
}

/*-- form validation --*/

.form-content .form-container .wpcf7-not-valid {
    border-color: red;
}

.form-content .form-container .subjects span.wpcf7-not-valid-tip {
    margin-top: 15px;
}

span.wpcf7-not-valid-tip {
    color: #F44336;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: -17px;
}

textarea+.wpcf7-not-valid-tip {
    top: -35px;
}

.job-application .file-input .wpcf7-not-valid-tip {
    top: 6px;
}

.job-application .wpcf7-not-valid-tip {
    top: -27px;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    display: none !important;
}

.entry-header h1 {
    margin: 0;
    padding: 30px 0 20px;
}

.mc4wp-success p {
    font-size: 16px;
    color: #5c81fa;
}

.mc4wp-error p {
    font-size: 16px;
    color: red;
}

div.wpcf7-mail-sent-ok {
    font-size: 14px;
    color: #4CAF50;
    font-weight: 500;
    border: none !important;
    margin-top: 16px;
    padding: 0;
}

.contact-form-modal div.wpcf7-mail-sent-ok,
.drive-trafic div.wpcf7-mail-sent-ok {
    margin-top: 0;
}

.entry-header h1 {
    margin: 0;
    padding: 30px 0 20px;
}

/*-- Section loader --*/

.section-loader .cynic-section-visibility {
    display: none;
}

/*----*/

#wp-calendar #next {
    text-align: right;
}

.widget_text select {
    margin-top: 15px;
}

.unit-mode img {
    border-radius: 5px;
}

div.wpcf7 .ajax-loader {
    display: none;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

div.wpcf7 .ajax-loader.is-active {
    display: block;
}

.unit-mode .cynic-no-nav-top-menu {
    background: transparent;
}

.unit-mode .cynic-no-nav-top-menu .nav-item .nav-link {
    color: #555;
}

.unit-mode .navbar.cynic-no-nav-top-menu .nav-item .nav-link:hover,
.unit-mode .navbar.cynic-no-nav-top-menu .nav-item .nav-link:hover::after,
.unit-mode .navbar.cynic-no-nav-top-menu .nav-item.active>.nav-link,
.unit-mode .navbar.cynic-no-nav-top-menu .navbar-nav .current-menu-ancestor>a {
    color: #4fbf53;
    opacity: 1;
}

.unit-mode .cynic-no-nav-top-menu .nav-item {
    margin-top: 0;
}

.unit-mode .header-wrapper .nav-item .nav-link::before {
    background: #4fbf53;
    top: 0;
    bottom: auto;
}

.drive-trafic {
    padding-bottom: 9rem;
}

/*-- Media queries
--------------------------------------------*/

@media screen and (max-width: 1199px) {
    .roi-driven-optimization .content-block .img-container img,
    .banner-slider img {
        position: static;
        max-width: 100%;
    }
    .checkbox-holder .wpcf7-list-item {
        width: 33.333333%;
    }
    .wpcf7-list-item-label {
        font-size: 1.5rem;
    }
    .form-content .form-container form label.checkd-box-field::after {
        top: 7px;
    }
    .form-content .form-container form label.checkd-box-field::before,
    .checkbox-holder .wpcf7-list-item label::before {
        margin-top: 0;
    }
    .modal .checkbox-holder .wpcf7-list-item {
        width: 50%;
    }
    span.wpcf7-not-valid-tip {
        top: -12px;
    }
    textarea+.wpcf7-not-valid-tip {
        top: -26px;
    }
    .job-application span.wpcf7-not-valid-tip {
        top: -20px;
    }
    .job-application .file-input span.wpcf7-not-valid-tip {
        top: 6px;
    }
}

@media screen and (max-width: 991px) {
    .unit-mode .header-wrapper .header-top .ht-right {
        margin-right: 6rem;
    }
    .unit-mode .navbar ul li {
        width: 100%;
        position: relative;
    }
    .unit-mode .navbar ul li a {
        /* width: calc(100% - 30px); */
        display: block;
    }
    .unit-mode .navbar ul li span {
        width: 60px;
        line-height: 53px;
        cursor: pointer;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        transition: all .3s;
    }
    .unit-mode .navbar ul li span:hover,
    .unit-mode .navbar ul li.active span {
        color: #4fbf53;
    }
    .unit-mode .navbar ul li span::before {
        line-height: 32px;
    }
    .unit-mode .sub-menu {
        position: static;
        box-shadow: none;
        border: none;
    }
    .unit-mode .service-nav .container .navbar-toggler-right {
        display: block !important;
    }
    .unit-mode .navbar-nav .nav-item .nav-item .nav-item .nav-link {
        padding: 0 40px;
    }
    .unit-mode .navbar-nav .nav-item .nav-item .nav-link {
        border: none;
    }
    .unit-mode .header-wrapper .navbar .nav-item .nav-link:hover::after {
        display: none;
    }
    .header-wrapper .navbar .nav-item.active .nav-link::after {
        display: none;
    }
    .unit-mode .header-wrapper .navbar .nav-item .nav-link::after{
        display: none!important;
    }
    .navbar-toggler span.navbar-toggler-icon {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .logged-in .header-wrapper.fixed-top {
        top: 46px;
    }
    .unit-mode .details-banner h1 {
        margin: 0;
        margin-bottom: 2rem;
    }
    .post-password-form input[type="password"] {
        width: 100%;
        display: block;
        margin: 0 0 20px;
    }
    .post-password-form input[type="submit"] {
        display: block;
    }
    .customer-review .carousel-inner {
        margin-bottom: 0;
    }
    footer ul li,
    footer ul li a {
        font-size: 16px;
    }
    .comments-area .comment {
        padding-left: 0;
    }
    .comment-author .avatar {
        position: initial;
        margin-bottom: 3rem;
    }
    .checkbox-holder .wpcf7-list-item {
        width: 50%;
    }
    .wpcf7-list-item-label {
        font-size: 14px;
    }
    .modal form .col-md-4 {
        display: none;
    }
    div.wpcf7-mail-sent-ok {
        text-align: center;
    }
    .post-tags {
        margin-top: 6rem;
    }
    .fullscreen-menu .navbar .navbar-nav {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 575px) {
    .service-nav .container .navbar-toggler-right {
        top: -55px;
    }
    .checkbox-holder .wpcf7-list-item {
        width: 100%;
    }
    .modal .checkbox-holder .wpcf7-list-item {
        width: 100%;
    }
    .section.services .slick-slider .slick-list {
        margin: 0;
    }
    .vimeo-bg .content {
        top: 0;
    }
}

/*-- Browser hacks --*/

/*-- ie hacks --*/

@media screen and (min-width: 0\0) {
    .tab-container.type-1 .nav-tabs .nav-item .nav-link:hover span,
    .tab-container.type-1 .nav-tabs .nav-item .nav-link.active span,
    .ip-banner.top-header-image .content h1,
    .details-banner.top-header-image .content h1,
    .readmore-btn>div,
    .readmore-btn>div i,
    .readmore-btn:hover>div,
    .readmore-btn:hover>div i .box-with-img:hover .readmore-btn>div i,
    .grad-icon::before {
        background: none !important;
        color: #4fbf53;
    }
    .details-block-content .text-content .case-study-list-group {
        padding-left: 13px;
    }
    .form-content .form-container form .form-group input[type=file],
    .form-content .form-container form .form-group input[type=file]:focus {
        cursor: none !important;
        outline: none !important;
    }
}

/*-- Moz hacks --*/

@media screen and (min--moz-device-pixel-ratio:0) {
    .blog-content:hover .readmore-btn>div {
        margin-left: 0;
    }
    .box-with-img:hover .readmore-btn>div {
        margin-left: 0;
    }
    .details-block-content .text-content .case-study-list-group {
        padding-left: 16px;
    }
}