@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/custom/icomoon.eot?nkujh3');
  src:  url('../fonts/custom/icomoon.eot?nkujh3#iefix') format('embedded-opentype'),
    url('../fonts/custom/icomoon.ttf?nkujh3') format('truetype'),
    url('../fonts/custom/icomoon.woff?nkujh3') format('woff'),
    url('../fonts/custom/icomoon.svg?nkujh3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-plus:before {
  content: "\e9004";
}

.icon-map-1:before {
  content: "\e9000";
}
.icon-map-2:before {
  content: "\e9001";
}
.icon-map-3:before {
  content: "\e9002";
}
